@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vänligen kolla er mejl för att återställer ert lösenord. 
    </p>
</div>
	
