
@{
  ViewBag.Title = "About";
  Layout = "~/Views/Shared/_Layout.cshtml";
};

<body class="single-post">

    <!-- BLOG HEADING -->
    <section class="blog-heading text-left">
        <div class="container">
            <h1 class="text-uppercase">Om oss</h1>
            <div class="desc">
                <p>Text text text</p>
            </div>
        </div>
    </section>
    <!-- END / BLOG HEADING -->

      <!-- CONTENT -->
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="content">

    <!-- POST -->
    <div class="post">
      <div class="post-media">
        <div class="image-wrap">
          <img src="@Url.Content("~/Content/images/about/770x500.gif")" />
        </div>
      </div>
      <div class="post-body">
        <div class="post-entry">
          <p>Mauris id sapien ante. Praesent vulputate feugiat quam. Duis aliquam nisl non tellus ullamcorper, eget blandit nunc suscipit. Ut placerat urna ac nisl pretium, at gravida purus pulvinar. In pulvinar sit amet dolor non finibus. Aliquam at arcu egestas quam accumsan luctus. Mauris in sagittis lorem. Cras dapibus varius eros at vestibulum. <br>
            Duis mollis eget augue et lobortis. Nam nunc justo, aliquet sed condimentum vel, faucibus in dolor. Proin eleifend hendrerit rhoncus. Maecenas in tellus posuere, placerat metus vehicula, aliquet sapien. Maecenas egestas aliquet nisi efficitur accumsan. Nullam dui eros, porta eu lorem eget, lacinia tempus velit.<br>Integer volutpat velit eget sollicitudin tincidunt. Sed tincidunt ligula libero, eget tincidunt erat volutpat sit amet. In at nisi ac nunc euismod vestibulum. Vestibulum ornare magna at ligula accumsan volutpat et vel dolor. Cras semper porta cursus. Etiam euismod nisl at ultrices interdum. Proin nec lorem in urna fermentum malesuada quis ut lectus. Nulla et risus nibh.
          </p>
        </div>
        <div class="signature text-right">
          <div class="inner">
            <img src="@Url.Content("~/Content/images/signature.png")"/>
            <cite class="name">Namnet på skaparen av bloggen.</cite>
          </div>
        </div>
      </div>
    </div>
    <!-- END / POST -->
  </div>
</div>
</body>

