
@{
  ViewBag.Title = "contact";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="single-post">

<div id="page-wrap">

<!-- BLOG HEADING -->
<section class="blog-heading text-left">
  <div class="container">
    <h1 class="text-uppercase">Kontakt</h1>
    <div class="desc">
      <p>Text Text Text</p>
    </div>
  </div>
</section>
<!-- END / BLOG HEADING -->

<!-- BLOG MAIN CONTENT -->
  <section class="blog-content blog-standard contact-page">
    <div class="container">
      <div class="row">
        <!-- CONTENT -->
        <div class="col-md-9">
          <div class="content">

            <!-- POST -->
            <div class="post">
              <div class="post-meta">
                <div class="post-format">
                  <a href="#"><i class="fa fa-map-marker"></i></a>
                </div>
              </div>
              <div class="contact-info">
                <div class="info-content">
                  <div class="item phone">
                    <i class="fa fa-phone"></i>
                    <span>0480 12345</span>
                  </div>
                  <div class="item">
                    <i class="fa fa-map-marker"></i>
                    <span>Address om så önskas...</span>
                  </div>
                  <div class="item">
                    <i class="fa fa-envelope"></i>
                    <span><a href="mailto:winters@info.com">kontakt@bloggen.se</a></span>
                  </div>
                </div>
              </div>
              @*<div class="post-body">
                <div class="post-entry">
                  <p>Har ni några frågor skicka gärna ett mejl.</p>
                </div>
                <div class="contact-form">
                  <form action="POST">
                    <div class="form-item">
                      <input type="text" value="Namn *">
                    </div>
                    <div class="form-item">
                      <input type="text" value="Epost *">
                    </div>
                    <div class="form-item">
                      <input type="text" value="Hemsida">
                    </div>
                    @*<div class="form-item form-captcha">
                      <img src="@Url.Content("~/Content/images/captcha-demo.png")"class="wpcf7-captchac" />
                      <span class="wpcf7-form-control-wrap">
                                                  <input type="text" value="Captcha">
                                              </span>*@
                    @*</div>*@
                    @*<div class="form-textarea">
                      <textarea>Meddelande</textarea>
                    </div>
                    <div class="form-actions">
                      <input type="submit" value="Skicka">
                    </div>
                  </form>
                </div>*@
                @*<div class="post-share">
                  <span class="share-toggle pi-btn">
                                          <i class="fa fa-share-alt"></i>
                                      </span>*@
                @*<div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>*@
              @*</div>*@
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</body>
